html {
	font-size:14px;
	font-family:Helvectica, sans-serif;
}

body {
	background-image:url('backgrounds/cyberspace.jpg');
	background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

/*Accordion Content Style*/
.panel-group {
	margin-top:1rem;
}

.panel-heading {
	background-color:dimgray !important;
	color:white !important;
}

.accordion-content {
	background-color:black;
	color:white;
/*	max-height:460px;*/
}

.accordion-button {
	background-color:dodgerblue;
	width:200px;
	border:1px solid black;
	border-collapse:collapse;
}

.accordion-button:hover{
	background-color:lime;
	color:white;
}

.submit-button:hover {
	color:white;
}

.panel-body {
	padding:0;
	background-color:black;
	color:white;
}

.panel-body a {
	color:dodgerblue;
}

.panel-body a:hover {
	color:deeppink;
	text-decoration: none;
}

.panel-body a:visited {
	color:lime;
}

.sets-container {
	height:;
}

/*Core Button Stuff*/

.core-btn-container {
	text-align:center;
}

.core-btn {
	height:50px;
	width:50px;
	display:inline-block;
	background-repeat:no-repeat;
	background-color:white;
}

.core-btn-one {
	background-image: url("icons/one.png");
	background-size: 50px 50px;
}

.core-btn-two {
	background-image: url('icons/two.png');
	background-size: 50px 50px;
}

.core-btn-three {
	background-image: url('icons/three.png');
	background-size: 50px 50px;
}

/*Utility Classes*/

.red {
	background-color:deeppink;
}

.green {
	background-color:lime;
}

.blue {
	color:white;
	background-color:dodgerblue;
}


.center {
	margin:auto;
}

.text-align-center {
	text-align: center;
}

.color-white {
	color:white;
}

.no-margin {
	margin:0;
}

/*Banner Classes*/
.banner {
	background-color:black;
	background-image:url('backgrounds/cyberfeeder.jpg');
	background-size: 1920px auto;
    background-repeat: no-repeat;
/*    background-attachment: fixed;*/
    background-position: center; 
	color:dodgerblue;
	height:706px;
}

.banner-text {
	background-color:black;
	color:dodgerblue;
	padding-left:1.5rem;
	padding-bottom:0.5rem;
}

.instructions {
	max-width:720px;
}



/*Image Classes*/

.thumbnail {
	display:block;
	max-width:250px;
	margin:auto;
}




/*Modal Related*/

.modal-image {
	display:block;
	max-width:250px;
	margin:1rem auto;
}
