<!DOCTYPE html>
<html ng-app="nrdpApp">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Netrunner Decklist Picker</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/nrdpStyle.css">
	<script type="text/javascript" src="js/angular.js"></script>
</head>
<body ng-controller="nrdpTroller">
	<header class="container-float">
		<div class="row">
			<div class="col-xs-12 banner">
			</div>
			<h1 class="banner-text">Netrunner Rig Market</h1>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-xs-12 col-md-6">
				<accordion close-others="true">
					<accordion-group heading="Choose your sets" is-open="chooseSetsOpen">
						<div class="accordion-content">
							<div class="core-btn-container">
								<section class="center">Number of Core Sets</section>
								<div class="btn core-btn core-btn-one" ng-click="setCores(1)" ng-class="{red: oneCore}"></div>
								<div class="btn core-btn core-btn-two" ng-click="setCores(2)" ng-class="{green: twoCore}"></div>
								<div class="btn core-btn core-btn-three" ng-click="setCores(3)" ng-class="{blue: threeCore}"></div>
							</div>
							<hr/>
							<div ng-repeat="set in allSets">
								<button ng-click="toggleSet($index)" ng-class="{red: set.userSelect}" onClick="blur()" class="btn accordion-button">{{set.name}}</button>
							</div>
							<button class='btn btn-success' ng-click="selectSets()">Select Sets</button>
							<span ng-show="selectACore">&emsp;Please Select Core Set</span>
							<span ng-show="selectNumberOfCores">&emsp;Please Select Number of Core Sets</span>
						</div>
					</accordion-group>
					<accordion-group heading="Suggestions" is-open="suggestionsOpen" ng-click="makeSuggestion()">
						<div>
							<div style="overflow:hidden" ng-repeat="(deckIndex, deck) in deckSuggestions">								
								<h2><a href="http://netrunnerdb.com/en/decklist/{{deck.id}}">{{deck.name}}</a></h2>
								<img class="thumbnail" ng-src="{{deck.identity}}">
								<div style="clear:left" ng-repeat="(cardIndex, card) in deck.cards"><a href="#" ng-click="$event.preventDefault(); openModal(deckIndex, cardIndex)">{{deck.cardTitleList[$index]}} : {{card}}</a></div>
								<hr/>
							</div>
						</div>
					</accordion-group>
				</accordion>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>

	<script type="text/ng-template" id="cardInfoModal.html">

				<div class="center">
					<div class="modal-header">
						<h3 class="modal-title">{{cardInfo.title}}</h3>
					</div>
					<div class="modal-body">
						<img class="modal-image" ng-src="http://netrunnerdb.com{{imagePlaceholder}}">
						<p>{{cardInfo.flavor}}</p>
						<p>{{cardInfo.text}}</p>
						<p>{{cardInfo.setname}}</p>
					</div>
					<button class="btn btn-primary" ng-click="closeModal()">Close</button>
				</div>

	</script>

	<script type="text/javascript" src="json/nrdb_hof.json"></script>
	<script type="text/javascript" src="json/allCards.json"></script>
	<script type="text/javascript" src="json/allSets.json"></script>
	<script type="text/javascript" src="json/decklist.json"></script>
	<script type="text/javascript" src="js/ui-bootstrap-tpls-0.13.4.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script type="text/javascript" src="js/nrdpTroller.js"></script>
	<script type="text/javascript" src="js/nrdpFactory.js"></script>

</body>
</html>