<!DOCTYPE html>
<html ng-app="nrdpApp">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Netrunner Decklist Picker</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link href='https://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" type="text/css" href="css/nrdpStyle.css"/>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.js"></script>
	
</head>
<body ng-controller="nrdpTroller">
	<header class="container-float">
		<div class="row">
			<h1 class="col-xs-12 page-title banner-text text-align-center no-margin">Netrunner Rig Assistant</h1>
			<div class="col-xs-12 banner"></div>
			<div class="col-xs-12 banner-text no-margin">
				<hr/>
				<h3 class="instructions center">This app offers decklist suggestions for Android:Netrunner, a Living Card Game by Fantasy Flight Games. It is intended to give new players a taste of advanced strategies without requiring advanced deckbuilding ability. Please click the decklist title links to visit NetrunnerDB.com for discussion and piloting instructions!</h3>
				<hr/>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-xs-12 col-md-6">
				<accordion close-others="false">
					<accordion-group heading="Choose your sets" is-open="chooseSetsOpen">
						<div class="accordion-content">
							<div class="core-btn-container">
								<section class="center">Number of Core Sets</section>
								<div class="btn core-btn core-btn-one" ng-click="setCores(1)" ng-class="{red: oneCore}"></div>
								<div class="btn core-btn core-btn-two" ng-click="setCores(2)" ng-class="{green: twoCore}"></div>
								<div class="btn core-btn core-btn-three" ng-click="setCores(3)" ng-class="{blue: threeCore}"></div>
							</div>
							<hr/>
							<div class="text-align-center">
								<button class="btn submit-button green select-all-btn" ng-click="selectAll()">Select All</button><button class="btn submit-button green select-all-btn" ng-click="selectNone()">Select None</button>
							</div>
							<div ng-repeat="set in allSets" class="text-align-center">
								<button ng-click="toggleSet($index)" ng-class="{red: set.userSelect}" onClick="blur()" class="btn accordion-button">{{set.name}}</button>
							</div>
							<div class="text-align-center">
								<button class='btn submit-button green' ng-click="selectSets()">Select Sets</button>
							</div>
							<div class="text-align-center">
								<span ng-show="selectACore" class="color-white center">&emsp;Please Select Core Set</span>
								<!--<span ng-show="selectNumberOfCores" class="color-white center">&emsp;Please Select Number of Core Sets</span>-->
							</div>
						</div>
					</accordion-group>
					<accordion-group ng-repeat="(deckIndex, deck) in deckSuggestions" heading="{{deck.name}}" is-open="true">
						<div class="text-align-center">
							<div class="decklist-container">								
								<h2><a href="http://netrunnerdb.com/en/decklist/{{deck.id}}">{{deck.name}}</a></h2>
								<img class="id-image" ng-src="{{deck.identity}}">
								<div ng-repeat="(cardIndex, card) in deck.cards" class="card-list">
									<a style = "text-align:center"href="#"ng-click="$event.preventDefault(); openModal(deckIndex, cardIndex)">{{card}} : {{deck.cardTitleList[$index]}}</a>
								</div>
								<hr/>
							</div>
						</div>
					</accordion-group>
				</accordion>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>

	<script type="text/ng-template" id="cardInfoModal.html">

				<div class="center">
					<div class="modal-header">
						<h3 class="modal-title">{{cardInfo.title}}</h3>
					</div>
					<div class="modal-body">
						<img class="modal-image" ng-src="http://netrunnerdb.com{{imagePlaceholder}}">
						<div><em>{{cardInfo.flavor}}</em></div>
						<p><strong>Cost</strong>: {{cardInfo.cost}} credits</p>
						<p><strong>Type</strong>: {{cardInfo.type}}</p>
						<p><strong>Subtype</strong>: {{cardInfo.subtype}}</p>
						<p><strong>Card Text</strong>: {{cardInfo.text}}</p>
						<p><strong>Faction</strong>: {{cardInfo.faction}}</p>
						<p><strong>Splash Cost</strong>: {{cardInfo.factioncost}}</p>
						<p><strong>Data Pack</strong>: {{cardInfo.setname}}</p>
						<button class="btn btn-primary modal-close-btn" ng-click="closeModal()">Close</button>
					</div>
					
				</div>

	</script>

	<script type="text/javascript" src="json/nrdb_hof.json"></script>
	<script type="text/javascript" src="json/allCards.json"></script>
	<script type="text/javascript" src="json/allSets.json"></script>
	<script type="text/javascript" src="json/decklist.json"></script>
	<script type="text/javascript" src="js/ui-bootstrap-tpls-0.13.4.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script type="text/javascript" src="js/nrdpTroller.js"></script>
	<script type="text/javascript" src="js/nrdpFactory.js"></script>

</body>
</html>