<!DOCTYPE html>
<html ng-app="nrdpApp">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Netrunner Decklist Picker</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/nrdpStyle.css">
	<script type="text/javascript" src="js/angular.js"></script>
</head>
<body ng-controller="nrdpTroller">

<div class="container">
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<accordion close-others="true">
				<accordion-group heading="Choose your sets">
					<div>Number of Core Sets</div>
					<label>One&emsp;</label>  <input name="cores" type="radio" value="1" ng-click="setCores(1)" /><br/>
					<label>Two&emsp;</label>  <input name="cores" type="radio" value="2" ng-click="setCores(2)"/><br/>
					<label>Three&emsp;</label><input name="cores" type="radio" value="3" ng-click="setCores(3)"/><br/>
					<hr/>
					<div ng-repeat="set in allSets"><label>{{set.name}}&emsp;</label><input type="checkbox" ng-model="set.userSelect" ng-value="set.userSelect"/></div>
					<button class='btn btn-success' ng-click="selectSets(numberOfCores)">Select Sets</button>
					<span ng-show="selectACore">&emsp;Please Select Core Set</span>
					<span ng-show="selectNumberOfCores">&emsp;Please Select Number of Core Sets</span>
				</accordion-group>
			</accordion>
		</div>
		<div class="col-xs-3"></div>
	</div>
</div>


	<script type="text/javascript" src="json/nrdb_hof.json"></script>
	<script type="text/javascript" src="json/allCards.json"></script>
	<script type="text/javascript" src="json/allSets.json"></script>
	<script type="text/javascript" src="json/decklist.json"></script>
	<script type="text/javascript" src="js/ui-bootstrap-tpls-0.13.4.js"></script>
	<script type="text/javascript" src="js/nrdpTroller.js"></script>
	<script type="text/javascript" src="js/nrdpFactory.js"></script>
</body>
</html>